version: '3.9'

services:
  iris:
    image: "{{ region }}-docker.pkg.dev/{{ project_id }}/intersystems/iris:{{ iris_version }}"
    container_name: iris
    hostname: "{{ hostname }}"
    command: --key /iris/iris.key
    ports:
    - 1972:1972
    - 2188:2188
    - 53773:53773
    environment:
    {% if hostname == 'isc-primary-001' -%}
    - ISC_CPF_MERGE_FILE=/iris/mirrorPrimary.conf
    {% elif hostname == 'isc-backup-001' -%}
    - ISC_CPF_MERGE_FILE=/iris/mirrorBackup.conf
    {% endif -%}
    volumes:
    - type: bind
      source: ./iris
      target: /iris

  # For the sake of simplicity, Webgateway runs without SSL
  webgateway:
    image: "{{ region }}-docker.pkg.dev/{{ project_id }}/intersystems/webgateway:{{ iris_version }}"
    container_name: webgateway
    hostname: webgateway
    ports:
    - 8080:80
    environment:
    - ISC_CSP_CONF_FILE=/webgateway/CSP.conf
    - ISC_CSP_INI_FILE=/webgateway/CSP.ini
    volumes:
    - type: bind
      source: ./webgateway
      target: /webgateway
