version: '3.9'

services:
  arbiter:
    image: "{{ region }}-docker.pkg.dev/{{ project_id }}/intersystems/arbiter:{{ iris_version }}"
    container_name: iris
    hostname: iris
    command: --key /iris/iris.key
    ports:
      - 2188:2188
